/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: center;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 20px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
      background-size: cover;
}
 

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  text-align: center;

}
h1{
  font-size: 24px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-left: 
}
h2{
font-size: 30px

}

.button{
  font-size: 25px;
  border-radius: 20px;
}

align-center { 
float right: center;
}

p{
  font-weight: 180;
  font-size: : 20px;

}
.author{
  font-size: 25px;
}
header {
min-height: 700px;
max-width: 100%;
background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
}

a{
  font-size: 20px;

}
footer {
    font-size: 10px;
    font-size: 20px;
  }

.author p {
  font-size: 30px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/




